{% extends 'main/layout.html' %}
{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <div class="dashboard-container">
            <header class="sticky top-0 bg-white flex items-center justify-between py-4 px-6 z-10">
                <h1 class="text-xl font-bold font">AI-SMS</h1>
                <button class="rounded-md px-4 py-2 bg-slate-100" id="toggler">X</button>
                <ul class="flex items-center hidden md:block space-x-3">
                    <li class="rounded-full w-12 h-12 border bg-slate-100"></li>
                    <li>
                        <button id="dropdown" class="flex items-center justify-center bg-slate-50 rounded-xl p-2 hover:bg-slate-100">
                            Username <span class="basil--caret-down-solid"></span>
                        </button>
                    </li>
                    <div id="dropdown-menu" class="absolute hidden mt-36 w-32 rounded-md bg-white border">
                        <ul class="px-4 py-3 space-y-3">
                            <li><a href="app/profile.html">Profile</a></li>
                            <li><a href="app/settings.html">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </header>
            <div class="flex">
                {% include 'main/sidebar.html' %}
                <main class="flex-1 p-6" id="content">
                    <div class="panel-bar" id="container">
                        <section class="rounded-md shadow-md space-y-4 h-[80vh] flex items-center flex-col flex-1">
                            <img src="../static/main/images/get_started.jpg" class="h-1/2 rounded-t-md w-full object-cover">
                            <h1 class="font-semibold text-lg md:text-3xl">Ready to revolutionize your security?</h1>
                            <p class="text-sm md:text-base">Click here to get started with our AI-powered system.</p>
                            <button class="px-4 py-2 rounded-md bg-teal-700 text-white hover:bg-teal-500 transition-all font-medium">Get started.</button>
                        </section>
                        <section class="rounded-md hidden shadow-md flex-1">
                            <form action="" class="px-8 py-4 space-y-3">
                                <h2 class="font-semibold text-2xl text-center">Server information</h2>
                                <p class="text-center">Add information about your organization server or service</p>
                                <div class="flex flex-col">
                                    <label for="name">Hostname</label>
                                    <input type="text" name="hostname" class="border rounded-md px-4 py-2 outline-none" placeholder="Server name">
                                </div>
                                 <div class="flex flex-col">
                                    <label for="name">Pass phrase</label>
                                    <input type="text" class="border rounded-md px-4 py-2 outline-none" placeholder="Pass phrase">
                                </div>
                                 <div class="flex flex-col">
                                    <label for="name">IP Address</label>
                                    <input type="text" name="ip_address" class="border rounded-md px-4 py-2 outline-none" placeholder="IP Address">
                                </div>
                                 <div class="flex flex-col">
                                    <label for="public_key">Public key</label>
                                     <textarea rows="3" cols="10" name="public_key" class="border rounded-md px-4 py-2 outline-none">
                                     </textarea>
                                </div>
                                <button class="px-4 hover:bg-blue-600 transition-all py-2 rounded-sm bg-blue-700 text-white">Add server</button>
                            </form>
                        </section>
                        <section class="flex hidden rounded-md space-y-4 shadow-md items-center p-12 justify-center flex-1 flex-col">
                            <img src="../static/main/images/green_icon.png" class="w-40 h-40" alt="Success">
                            <h4 class="text-xl font-semibold">Added Server Successfully</h4>
                            <p>Redirecting in few seconds . Go back dashboard</p>
                        </section>
                    </div>
                </main>
            </div>
        </div>
{% endblock content %}
