{% extends 'main/base.html' %}
{% block content %}
    <main class="flex py-24 items-center space-y-6 flex-col rounded-2xl w-full">
        <h1 class="text-2xl md:text-5xl text-white text-center">
            Cybersecurity: AI Enhanced <br> Security Management System
        </h1>
        <p class="text-sm text-slate-200 text-center">
            At our service, we are committed to protecting your <br>
            digital world. Through using Ai Enhanced technologies.
        </p>
        <div class="text-white">
            <button class="rounded-xl text-sm font-medium px-4 py-2 bg-teal-600">
                Get Started &rarr;
            </button>
            <button class="rounded-xl text-sm font-medium bg-teal-800/70 px-4 py-2">
                Send Message
            </button>
        </div>

    </main>

    <section class="my-12 flex flex-col font-['Mulish'] items-center space-y-4">
        <h2 class="text-4xl font-bold">Our Services</h2>
        <p class="text-sm text-center font-medium">
            AI Enhanced SMS manages security, detection and
            response <br> services and white label security services.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
            <article class="ring-1 ring-slate-100 rounded-xl p-6 bg-slate-50/50">
                <h3 class="text-black text-xl font-bold">Managed Security</h3>
                <p class="font-['Inter'] my-4 text-sm">
                    We provide enhanced security to Small and Medium
                    Business (SMBs) and large enterprises.
                    We offer different packages to fit any need of our
                    clients.
                </p>
                <a href="#" class="text-sm text-teal-500">Read more &rarr;</a>
            </article>

            <article class="ring-1 ring-slate-100 rounded-xl p-6 bg-slate-50/50">
                <h3 class="text-black text-xl font-bold">Detection & Response</h3>
                <p class="font-['Inter'] my-4 text-sm">
                   AI SMS offers Managed Detection & Response (MDR) services,
                    analytics & response to cyber threats. Our proactive approach
                    swift and cybersecurity measures for your protection
                </p>
                <a href="#" class="text-sm text-teal-500">Read more &rarr;</a>
            </article>

            <article class="ring-1 ring-slate-100 rounded-xl p-6 bg-slate-50/50">
                <h3 class="text-black text-xl font-bold">White Label AI Service</h3>
                <p class="font-['Inter'] my-4 text-sm">
                    Experience our White Label AI Service, meticulously crafted
                    to deliver comprehensive cybersecurity solutions encompassing
                    threat detection and proactive threat hunting.
                </p>
                <a href="#" class="text-sm text-teal-500">Read more &rarr;</a>
            </article>
        </div>
    </section>
    <section class="flex flex-col md:flex-row items-center justify-between">
        <article class="md:w-1/2 grid grid-cols-3 gap-4">
            <article class="ring-1 ring-slate-100 rounded-xl p-3 bg-slate-100/50">
                <h3 class="text-slate-700 font-['Mulish'] text-lg font-bold">Cloud Security</h3>
                <p class="font-['Inter'] text-xs">
                    Our certified team swiftly identifies AWS and Azure
                    vulnerabilities for robust security.
                </p>
            </article>
            <article class="ring-1 col-span-2 ring-slate-100 rounded-xl p-3 bg-slate-100/50">
                <h3 class="text-slate-700 font-['Mulish'] text-lg font-bold">Penetration Testing</h3>
                <p class="font-['Inter'] text-xs">
                    Our certified penetration testing experts utilize
                    the latest methodologies, tools and identify vulnerabilities
                    in applications, networks, clouds etc.
                </p>
            </article>
            <article class="ring-1 col-span-2 ring-slate-100 rounded-xl p-4 bg-slate-100/50">
                <h3 class="text-slate-700 text-lg font-['Mulish'] font-bold">Cybersecurity Solutions</h3>
                <p class="font-['Inter'] text-xs">
                   AI SMS designs, implements and support cybersecurity solutions
                    combining hardware, software and data from cyber threats.
                </p>
            </article>
            <article class="rounded-xl flex items-center p-4 bg-teal-600 justify-center font-['Mulish'] text-white">
                <h3 class="text-lg font-bold text-center">Read More</h3>
            </article>
        </article>
        <article class="md:w-2/5 space-y-4">
            <h2 class="text-2xl mt-4 md:mt-0 md:text-4xl font-semibold text-slate-700 font-['Mulish']">AI SMS: Secure Your Digital World</h2>
            <p class="text-sm">
                Ensure the security of your digital world with
                our comprehensive service focused on safeguarding
                against cyber threats. Trust us to secure your online
                presence.
            </p>
        </article>
    </section>
{% endblock content %}