{% extends 'main/base.html' %}
    {% block title %}
        login
    {% endblock title %}
{% block content %}
    <section class="flex items-center justify-between h-[100vh]">
        <section class="w-1/2 hidden md:block">
            <img src="../static/main/images/secured.jpg" alt="banner">
        </section>
        <section class="w-full md:w-1/2">
            <form action="" method="post" class="grid grid-cols-2 font-['Inter'] gap-4 p-4 md:pl-12 items-center">
                <h2 class="text-3xl font-['Mulish'] font-bold">Login</h2>
                <p class="text-sm text-slate-700 text-right">Don't have an account? <br> <a href="#">Register</a></p>
                <label for="email" class='text-slate-600 text-sm'>Enter Email</label>
                <input
                        type="email"
                        name="email"
                        placeholder="something@site.com"
                        class="border rounded-md col-span-2 text-sm text-slate-600 focus:transition-all outline-none px-4 py-3"
                        id="email">
                <label for="password" class="text-slate-600 text-sm">Enter password</label>
                <input
                        type="password"
                        name="password"
                        placeholder="***********"
                        class="border rounded-md col-span-2 text-sm text-slate-600 focus:transition-all outline-none px-4 py-3"
                        id="password">
                <p class="text-sm col-span-2 text-blue-600 text-right">
                    <a href="">Forget password?</a>
                </p>
                <input
                        type="submit"
                        value="Login"
                        class="rounded-md col-span-2 border bg-teal-600 text-white px-4 py-2 text-sm">
            </form>
        </section>
    </section>
{% endblock content %}