<div class="panel-bar" id="container">
    <div class="panel-item flex-1">
        <h2 class="text-3xl font-semibold border-b">Profile</h2>
        <ul class="grid grid-cols-2 space-y-2 gap-4 mt-4">
            <li>First Name</li>
            <li>John</li>
            <li>Last Name</li>
            <l>Joe</l>
            <li>Email</li>
            <li>someone@somewhere.com</li>
            <li>Telephone</li>
            <li>+234 918 583 9583</li>
            <li>Company</li>
            <li>Rashnotech</li>
            <li>Address</li>
            <li>Plot anything at anything</li>
            <li>Job Title</li>
            <li>Cyber security</li>
            <li>Country</li>
            <li>USA</li>
            <li class="col-span-2 flex items-center justify-center">
                <button class="rounded-md bg-blue-400 text-white px-4 py-2">Edit profile</button>
            </li>
        </ul>
    </div>
</div>

