<div class="panel-bar" id="container">
    <div class="panel-item flex-1">
        <h2 class="text-3xl font-semibold">Settings</h2>

        <ul class="space-y-4 mt-6 divide-y">
            <li>
                <a href="">
                    <p class="font-medium text-lg">Server information</p>
                    <small>Company's server information on check.</small>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="font-medium text-lg">Notifications</p>
                    <small>Email notification on daily app checks.</small>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="font-medium text-lg">2FA Authentication</p>
                    <small>Secure your account by enabling 2factor</small>
                </a>
            </li>
            <li>
                <p class="font-medium text-lg text-red-600">Delete account</p>
                <small class="text-red-600">This actions can not be reversed.</small>
            </li>
        </ul>
    </div>
</div>

