<aside class="shadow-md w-64 h-screen md:block hidden">
    <nav class="mt-4">
        <ul class="space-y-2">
            <li class="px-4 py-2"><a href="dashboard.html">Dashboard</a></li>
            <li class="px-4 py-2"><a href="firewall.html">Firewalls</a></li>
            <li class="px-4 py-2"><a href="network.html">Network</a></li>
            <li class="px-4 py-2"><a href="service.html">Services</a></li>
            <li class="px-4 py-2"><a href="">IDP/IPS</a></li>
            <li class="px-4 py-2"><a href="">Anti-Virus</a></li>
            <li class="px-4 py-2"><a href="">Disk Space</a></li>
            <li class="px-4 py-2"><a href="">BW Monitor</a></li>
            <li class="px-4 py-2"><a href="">Updates</a></li>
            <li class="px-4 py-2"><a href="report.html">Reports</a></li>
        </ul>
    </nav>
</aside>